name: Tests

on:
  push:
    branches:
      - main
  pull_request:

env:
  MIX_ENV: test

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: "1.18.0"
          otp-version: "27.0"

      - name: Install deps
        run: mix deps.get

      - name: Run Coveralls (text)
        run: mix coveralls --color

      - name: Run Coveralls (json)
        run: mix coveralls.json

      - name: Run Coveralls (html)
        run: mix coveralls.html

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: cover/

      - name: Run tests
        run: mix test --color

