name: Tests

on:
  push:
    branches:
      - main
  pull_request:

env:
  MIX_ENV: test

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: "1.18.0"
          otp-version: "27.0"

      - name: Install deps
        run: mix deps.get

      - name: Run tests
        run: mix test --color

